.bg-gradient-info-green {
    background: linear-gradient(87deg, #a1d4a7 0, #01a90e 100%) !important;
}
.laning-sberbank-notary-maintext
{
    text-shadow: #000000 0 0 1px;
    font-weight: 900;
    color: green;
    /*font-size: x-large;*/
}

.chat-scroll
{
    overflow-y: scroll;
    max-height: 600px;
}

.text-sm
{
    text-align: right !important;
}